<html>
  <head>
    <title>Stacks</title>
    <style>
    </style>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/Config.js"></script>
    <script src="/static/js/DOM.js"></script>
    <script src="/static/js/Element.js"></script>
    <script src="/static/js/Stack.js"></script>
    <script src="/static/js/Motion.js"></script>
    <script src="/static/js/game.js"></script>
    <script src="/static/js/GameLogic.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/foundation.min.css"></style>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"></style>
  </head>
  <body>
    <div class="game-container">
      <div id="explanation">
        <h1 id="title">Stacks</h1>
        <div id="explanation-left">
          <ul>
            <li>Use the left and right arrows to move between the stacks. The current stack has a yellow indicator beneath it.
            <li>Press the up arrow to launch an item to the left of the current stack.
            <li>Press the down arrow to launch an item to the right of the current stack.
            <li>Try to make blocks of the same color touch, and don't let any of the stacks reach the top!</li>
          </ul>
          <ul>
            <li class="button-right">
              <a href="#" class="begin button secondary">Begin</a>
            </li>
          </ul>
          <br/>
        </div>
        <div id="explanation-right">
          <p id="screenshot"><img id="screen" src="/static/img/screen.png"></p>
        </div>
      </div>
      <div class="gameplay">
          <div class="game-over-container">
            <h4 id="game-over-heading">Game over! You scored
              <span class="score-display-big"></span>.</h4>
            <h5 id="game-over-text">Press ENTER to play again.</h5>
            <p id="share">
            </p>
          </div>
          <canvas id="gameplay" width="1" height="1"></canvas>
          <p id="score-container">Score: <span class="score-display" id="bottom-score">0</span> &middot; Your high score: <span class="highest-score">0</span> &middot; <a href="#" id="trigger-help">Help</a> </p>
        </div>
      </div>
      <footer>
        <p>&copy; 2016 Amit Mizrahi. &middot; <a href="http://www.amizrahi.com">amizrahi.com</a> <!-- &middot; Source code for Stacks: <a href="http://github.com/amizra/stacks">GitHub</a> --> </p>
      </footer>
      <div class="help">
        <h3>Instructions</h3>
        <ul>
          <li>Use the left and right arrows to move between the stacks. The current stack has a yellow indicator beneath it.
          <li>Press the up arrow to launch an item to the left of the current stack.
          <li>Press the down arrow to launch an item to the right of the current stack.
          <li>Try to make blocks of the same color touch, and don't let any of the stacks reach the top!</li>
        </ul>
        <ul>
          <li class="button-right">
            <a href="#" class="button secondary" id="trigger-hide">OK</a>
          </li>
        </ul>
      </div>
  </body>
</html>
