#title, .game-over-container, #explanation {
  z-index:1000;
}
#title {
  text-align:center;
}
.game-over-container {
  position:absolute;
  top:20%;
  left:33%;
  font-size:36px;
}
#gameplay {
  position: absolute;
  top:0;
  left:0;
  z-index:0;
}
#explanation {
  margin-left:auto;
  margin-right:auto;
  width:50%;
  overflow:hidden;
}
#explanation-left {
  float:left;
  width:45%;
  margin-right:5%;
}
#explanation-right {
  float:left;
  width:45%;
}
#explanation-left li {
  padding-bottom:10px;
}
#screenshot {
  text-align:right;
}
#screen {
  width:200px;
  height:200px
}
#score-container {
  position:absolute;
  width:98%;
  top:90%;
  text-align: right;
}
body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}
h1, h4, h5 {
  text-align: center;
}
a {
  color:#000000;
}
#bottom-score {
  font-weight:bold;
  font-size:18px;
  padding:15px;
}
.help {
  z-index:1000;
  position:absolute;
  top:25%;
  left:25%;
  width:50%;
  background-color:#FFFFFF;
  padding:20px;
}
.begin, #trigger-hide {
  text-decoration:none;
}
.button-right {
  list-style-type:none;
  display:block;
}
footer {
  margin-left:auto;
  margin-right:auto;
  width:81%;
  border-top:1px solid #888888;
}
.fb-like {
  display:inline;
}

.left {
  float:left;
  width:50%;
}
.right {
  margin-top:20px;
  float:left;
  width:50%;
}
#game-like {
  position:absolute;
  top:94%;
  left:10%;
}
#share {
  position:absolute;
  top:94%;
  left:40%;
}
#status {
  color:#880000;
}
